@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: greenyellow;
  display: block;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0;
}
.header {
  background: red;
}
.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-left: 5rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 120px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: darkcyan;
  text-align: center;
  font-size: 18px;
  cursor: grab;
  background: linear-gradient(45deg, purple 25%, green 85%);
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 120px;
  height: 66px;
}

.start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.done {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}

.hold {
  border: 5px dashed #84fab0;
}

.hide {
  display: none;
}

.hovered {
  border-top: 2px solid darkcyan;
}